<div class="card offset-sm-1 col-sm-10">
  <div class="card-header">
    ng-For
  </div>
  <div class="card-title">
    ng-For is an built-in directive which repeats a template for given number of times.
  </div>
  <div class="card-body">
    <div class="row">
      <input type="text" class="form-control offset-4 col-sm-4" [(ngModel)]="carName">
    </div>
    <div class="d-flex justify-content-center space-around">
      <button class="btn btn-secondary" [disabled]="carName.length === 0" (click)="onCreateCar()">Create Car</button>
    </div>
    <div class="d-flex flex-column">
      <app-car *ngFor="let car of cars; let i = index" [index]="i" ></app-car>
    </div>
  </div>
</div>