<div class='card offset-sm-1 col-sm-10 border-success'>

    <div class='card-header'>
        {{pageTitle}}
    </div>

    <div class='card-body'>

        <div class='row'>
            <div class='col-md-2'>Filter by:</div>
            <div class='col-md-4'>
                <input type="text" name="" id="">
            </div>
        </div>

        <div class="row">
            <div class='col-md-6'>
                <h3>Filtered by: </h3>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-primary">
                                Show Image
                            </button>
                        </th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>

    </div>

    <div class="card-footer">

    </div>

</div>

<br>

<div class="card offset-sm-1 col-sm-10 border-primary">
    <div class="card-header">Event Binding</div>
    <div class="card-body">
        <input type="text" class="form-control offset-sm-4 col-sm-4" (input)="onCarNameUpdate($event)">
        <p>{{carNameUpdateStatus}}</p>
        <p>{{carNameEntered}}</p>
    </div>
    <div class="card-footer"></div>
</div>

<br>

<div class="card offset-sm-1 col-sm-10 border-info">
    <div class="card-header">
        Two Way Data Binding
    </div>
    <div class="card-body">
        <input type="text" class="form-control offset-sm-4 col-sm-4" [(ngModel)]="carNameModelVariable">
        <p>Car name is {{carNameModelVariable}}</p>
    </div>
    <div class="card-footer"></div>
</div>

<br>

<app-angular-if-else></app-angular-if-else>

<br>

<app-ng-style-inbuilt-directive></app-ng-style-inbuilt-directive>